body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #fffaf0, #f5deb3, #d2b48c);
    color: #3e2f1c;
}

header {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: center;
    gap: 40px;
}

nav a {
    text-decoration: none;
    color: #3e2f1c;
    font-weight: 600;
    padding: 5px 10px;
    transition: 0.3s;
}

nav a:hover {
    color: #8b5e3c;
}

section {
    padding: 60px 10%;
}

/* HOME PAGE WHITE BOX */
.home-box, .box {
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    margin-bottom: 40px;
}

/* ABOUT SECTION */
.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.profile-pic img {
    width: 330px;
    height: 330px;
    border-radius: 50%;
    border: 5px solid #8b5e3c;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

/* SKILLS */
.skills-list {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.skill {
    padding: 10px 20px;
    background: #8b5e3c;
    color: white;
    border-radius: 20px;
}

/* CONTACT LINKS */
.contact-link {
    color: #8b5e3c;
    font-weight: 600;
}

/* EDUCATION PAGE */
.edu-section .school-box {
    background: white;
    padding: 25px;
    border-radius: 20px;
    margin-bottom: 30px;
    display: flex;
    gap: 20px;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}

.school-logo {
    width: 90px;
    height: 90px;
    border-radius: 15px;
    object-fit: cover;
}

/* ACHIEVEMENTS */
.achievements {
    margin-top: 40px;
}

.ach-box {
    background: #3e2f1c;
    color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.25);
}

footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background: #3e2f1c;
    color: white;
}
